.post-info{
	&__wrap01{
		display: flex;
		flex-wrap: wrap;
	}
	&__wrap02{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__place{
		margin-bottom: 5px;
		margin-right: 10px;
	}
	&__area{
		margin-bottom: 5px;
	}
}